<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>BlackMont</span>
    </a>

  
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
        <button class="p-link layout-topbar-button" [routerLink]="'/home'">
            <i class="pi pi-sign-out"></i>
            <span>Settings</span>
        </button>
    </div>
</div>

    <div class="grid" style="margin-top: 5rem">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Facebook</span>
                        <div class="text-900 font-medium text-xl">+15 Seguidores </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-facebook text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%12+ </span>
                <span class="text-500">desde la última semana</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Instagram</span>
                        <div class="text-900 font-medium text-xl">+254 Seguidores</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-instagram text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">desde la última semana</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Twitter/X</span>
                        <div class="text-900 font-medium text-xl">+39 Seguidores</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-gray-900 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17" width="17" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>                    </div>
                </div>
                <span class="text-green-500 font-medium">%20+  </span>
                <span class="text-500">desde la última semana</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">TikTok</span>
                        <div class="text-900 font-medium text-xl">+522 Me gustas</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-gray-900 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17" width="16" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"/></svg></div>
                </div>
                <span class="text-green-500 font-medium">%30+ </span>
                <span class="text-500">desde la última semana</span>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notificaciones</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">HOY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-thumbs-up-fill text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">
                    <span class="text-700"> Tienes 5 reacciones nuevas en Facebook</span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Debes de realizar la publicación #32 dada por el consultor.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">AYER</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-tag text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">
                    <span class="text-700"> Te mencionaron en 10 publicaciones</span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Nuestro consultor Jaime<span class="text-700"> respondio tu duda.</span></span>
                    </li>
                </ul>
            </div>
            

            <div class="card">
                <h5>Nueva Solicitud</h5>
                
                <span class="block text-600 font-medium mb-3">CONSULTOR</span>
                <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
                </p-autoComplete>

                <span class="block text-600 font-medium mb-3">SOLICITUD</span>
                <textarea rows="5" cols="130" placeholder="Escribe tu solicitud" pInputTextarea></textarea>
    
                
    
            </div>
            
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Historial de interacciones</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

           

           
       
    </div>
</div>

